.forecast{
    display:block;
    background-color: rgb(226, 226, 231);
    //padding: 5px;
    &-title{
     // position: absolute;
     padding-top: 10px;
     padding-left: 10px;
    // padding-bottom: 0px;;
        text-align: left;
    }

    &-items{
        //padding-top: 0px;
        //padding: 10px;
        display: flex;
        overflow-x: scroll;
          
            &::-webkit-scrollbar {
                width: 2px;
            }
            //for rounded scrollbar set border radius for both  ::-webkit-scrollbar-track and ::-webkit-scrollbar-thumb 
            
            &::-webkit-scrollbar-track {
                background:  #f1f1f1;
            
            }
            
            &::-webkit-scrollbar-thumb {
                background: #bdcdee;

            }
            
            &::-webkit-scrollbar-thumb:hover {
                background: #536ea5;
            }
        }

        &-item{
           // border-right:1px solid  rgb(94, 89, 89);
        //to remove the last border line
       //     &:last-of-type{
            //    border-right: 0px;
           // }
           margin: 2rem;
        

        &_hour{
            font-size: large;
        }
        &_temp{
            font-size: small;
        }
        &_description{
            font-size: large;
        }
    }
}